node_modules/
.expo/
dist/
build/
ios/Pods/
*.log

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode/
.gradle/
*.keystore
!debug.keystore
